@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #3f05ff;
    --font-amiri: Amiri, serif;
}



/* Custom Utilities */
@utility container {
    margin-inline: auto;
    padding-inline: 1.5rem;
    max-width: 1200px;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

body {
    @apply bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-50 transition-colors duration-300 overflow-x-hidden;
}